<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Looking for maintainers for your open source projects.</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.js"></script>  
<link rel="stylesheet" href="/global.css" />    
<link rel="shortcut icon" href="img/emoji.png">
<meta name="og:title" content="Looking for maintainers for your open source projects or want to be a contributor.">
<meta name="twitter:title" content="Looking for maintainers for your open source projects or want to be a contributor.">
<meta name="og:description" content="A place where you can publish your open source projects and let other people know, you are looking for maintainers/contributors for your project.">
<meta name="twitter:description" content="A place where you can publish your open source projects and let other people know, you are looking for maintainers/contributors for your project.">
<meta name="twitter:site" content="@manish_saraan">
<meta name="description" content="A place where you can publish your open source projects and let other people know, you are looking for maintainers/contributors for your project.">