<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
   
</head>
<body>
        <p>
                ID: <%= user._id %><br/>
                Username: <%= user.username %><br/>
                Name: <%= user.name %><br/>
                <% if (user.email) { %>
                Email: <%= user.email %><br/>
                <% } %>
                </p>
                
                    <form id="searchForm">
                            <input type="text" id="search" />
                            <input type="submit" value="search">

                    </form>
                <ul id="repos">
                  <li></li>
                </ul>
                <script>
                        function publishRepo(repo){
                            console.log(repo);
                            fetch(`/publish/${repo}`).then(data => data.json()).then(data => console.log(data));
                        }
                    
                        

                        document.querySelector("#searchForm").addEventListener("submit", function(event){
                            event.preventDefault();
                    
                            var repoName = document.querySelector("input").value;
                            var request = $.ajax({
                            url: `/search/${repoName}`,
                            type: "GET",
                            data: {},
                            dataType: "json",
                            success: function(data){
                                console.log(data);
                                var reposHtml = "";
                                 data.repo.items.forEach(function(repo){
                                    reposHtml+= `
                                      <li>
                                        <span>${repo.name}</span>
                                        <button onClick="publishRepo(${repo.name})">publihs</button>
                                      </li>
                                    `;
                                });
                                document.getElementById("repos").innerHTML = reposHtml;
                            }
                        });
                           
                        })
                        </script>
                
</body>
</html>
