.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.grid-item {
  flex-basis: 33%;
  -ms-flex: auto;
  width: 259px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.body-row {
  width: 90%;
  margin: 0 auto;
}

.repositories-container {
  padding-top: 60px;
}

.homepage-link {
  text-decoration: none;
  color: #555;
}

.projects-spinner {
  display: flex;
  font-weight: bold;
  font-size: 1.2em;
}

@media (max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media (max-width: 1073px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media (max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media (max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}
